# This user defaults to personal profile. Configured to switch to work profile
# via includeIf. All folders which are children of ~/OmniSpace/ will include
# ~/OmniSpace/.gitconfig_work_include. Thus, this file needs to be configured
# properly as well.

[user]
	name = Jacob Ryan van Gogh
	email = jrvangogh@gmail.com

[push]
	default = simple

[credential]
	helper = osxkeychain

[alias]
	pl = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	unstage = reset HEAD --

[includeIf "gitdir:~/OmniSpace/"]
    path = ~/OmniSpace/.gitconfig_work_include
